<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <%# <strong>Url:</strong> %>
  <img src="<%= @photo.url %>">
</p>
<%= image_tag @product.url, width: '300' %>
<p>
  <%# <strong>User:</strong> %>
  <%= @photo.user.email %>
</p>
<%= form_for Comment.new, url: '/comments' do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :photo_id, value: @photo.id %>
  <%= f.submit "Submit" %>
<% end %>
<h3>Comments:</h3>
<% @photo.comments.each do |comment| %>
  <div>
    <strong><%= comment.user.email %></strong>
    says:
    <%= comment.message %>
  </div>
  <hr>
<% end %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
